// COLORS
$color-primary:  #33323D;
$color-green:#5FB4A2;
$color-black:#33323D;
$white:#FFFFFF;
$color-white:#FAFAFA;
$black:#000000;
$color-gray: #203A4C;
$color-touch:rgba(51, 50, 61, 0.15);
// FONTS
$font-stack: "Arial", sans-serif;
$font-Public: 'Public Sans';
$Ibarra-Real-Nova:'Ibarra Real Nova';