.contact-me {
  display: flex;
}
.contact-me__heading {
  font-family: $Ibarra-Real-Nova;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
}
.contact-me__form {
  max-width: 635px;
  width: 100%;
}

.contact-me__label {
  font-family: $font-Public;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  max-width: 635px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: $color-touch;
}
.contact-me__mail {
  font-family: $font-Public;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;

  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact-me__text {
  font-family: $font-Public;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;

  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}
.button {
  font-family: $font-Public;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $color-gray;
  color: $white;
  padding: 17px 24px 17px 24px;
}
