.primary--link {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-primary;
  padding: 17px 36px 17px 32px;
  border: 1px solid #33323d;
}
